.dashboard{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    flex: 1;
    padding: 20px;
    border: 1px solid #30333b;
    border-radius: 10px;
    background-color: #20232b;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card span{
    font-size: 17px;
    color: #9da1aa;
}

.card strong{
    margin-top: 10px;
    color:#c9a227;
    font-size: 30px;
}

.dashboard-grid{
    display: flex;
    gap: 20px;
}

.categoria{
    margin-bottom: 20px;
}

.categoria-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.categoria-info span{
    color: #f1f1f1;
}

.categoria-info strong{
    color: #c9a227;
}

.barra{
    height: 8px;
    background-color: #30333b;
    border-radius: 10px;
    overflow: hidden;
}

.barra-preenchida{
    height: 100%;
    background-color: #c9a227;
    border-radius: 10px;
    width: 0;
}

.barra-disponivel{
    background-color: #6fcf97;

}

.barra-manutencao{
    background-color: #c9a227;
}

.barra-esgotado{
    background-color: #d66;
}

#historico{
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
}

#historico li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 5px 15px 20px;
    border-bottom: 1px solid #30333b;
    position: relative;
}

#historico li::before{
    content: "";
    position:absolute;
    left: 0;
    top:20px;
    width: 7px;
    height:7px;
    background-color: #c9a227;
    border-radius: 50%;
}

#historico strong{
    color: #c9a227;
    font-size: 15px;
}

#historico span{
    color: #f1f1f1;
}

#historico small{
    color: #777d88;
}

#horaAtualização {
    color: #777d88;
    margin-top: 5px;
}

@media (max-width:768px){
    .cards{
        flex-direction: column;
    }

    .dashboard-grid{
        flex-direction: column;
    }
}



